.tournament {
  &-backButton {
    margin: 15px;
  }
  &-container {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    margin: 40px;
    margin-top: 20px;
    justify-content: center;

    @media screen and (max-width: 580px) {
      padding: 5px;
      margin: 5px;
    }

    @media screen and (max-width: 680px) {
      font-size: 13px;
    }

    & > * {
      margin: 10px;
    }
  }

  &-overview {
    display: flex;
    background-color: #11072d;
    width: 90%;
    padding: 30px;
    flex-wrap: nowrap;
    border: 1px solid #2c1e52;

    & > * {
      width: 50%;
      padding: 15px;
      padding-left: 45px;

      &:first-child {
        border-right: 2px dotted white;
      }
    }

    @media screen and (max-width: 680px) {
      width: 95%;
    }
    &-row {
      display: flex;
      width: 100%;

      & > * {
        width: 50%;
      }
    }

    &-info {
      padding: 10px;

      & > * {
        margin-top: 0;
        margin-bottom: 0;
      }

      h5 {
        color: rgb(123, 79, 243);
      }
    }
  }

  &-videos {
    display: flex;
    background-color: #11072d;
    padding: 30px;
    flex-wrap: nowrap;
    flex-direction: column;
    border: 1px solid #2c1e52;
    @media screen and (max-width: 680px) {
      width: 95%;
    }
    &-row {
      background-color: #372e50;
      padding: 5px 15px;
      margin: 10px;
      border-radius: 5px;
      cursor: pointer;
      transition-duration: 0.15s;

      &:hover {
        background-color: rgb(51, 37, 92);
      }
    }
  }

  &-twitchStream {
    width: 90%;
    background-color: #11072d;
    padding: 30px;
    flex-wrap: nowrap;
    border: 1px solid #2c1e52;
  }

  &-leaderboard {
    background-color: #11072d;
    width: 90%;
    padding: 30px;
    border: 1px solid #2c1e52;

    @media screen and (max-width: 680px) {
      width: 95%;
    }

    &-labels {
      display: flex;
      padding: 10px;
      background-color: #11072d;
      & > * {
        width: 20%;
        min-width: 40px;
        padding: 10px;
      }
      h5:first-child {
        width: 50px;
        min-width: 50px;
      }
    }

    &-row {
      padding: 10px;
      display: flex;
      border: 1px solid gray;
      position: relative;
      align-items: center;
      & > * {
        width: 20%;
        min-width: 60px;
        padding: 10px;
      }
      h3:first-child {
        width: 50px;
        min-width: 50px;
      }
      &:hover {
        border: 1px solid lightgray;
      }
      &-player {
        padding: 5px 20px;
      }
    }
  }

  &-rules {
    display: flex;
    background-color: #11072d;
    width: 90%;
    padding: 30px;
    border: 1px solid #2c1e52;
  }
}
