.profile {
  &-hacker {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9081e;
    height: 100px;
    margin-top: 50px;
    color: white;

    @media screen and (max-width: 700px) {
      font-size: 15px;
      padding: 0 15px;
      margin-left: 0;
      text-align: center;
    }

    @media screen and (max-width: 500px) {
      font-size: 12px;
      padding: 0 15px;
      text-align: center;
    }
  }
  &-tabs {
    margin: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px solid #271f48;

    @media screen and (max-width: 750px) {
      margin: 30px 0px 20px 0px;
      border: none;
    }

    &-highlightVideo {
      margin: 30px;
    }
  }
  &-stream {
    margin: 50px;
    overflow: none;
    border-radius: 5px;
    border: 2px solid #271f48;

    @media screen and (max-width: 750px) {
      margin: 30px 20px 20px 20px;
    }
  }
  &-playerHeader {
    display: flex;
    position: relative;
    margin: 50px 50px 20px 50px;
    border: 2px solid rgba(122, 122, 204, 0.2);
    border-radius: 8px;

    @media screen and (max-width: 750px) {
      flex-wrap: wrap;
      margin: 30px 20px 20px 20px;
    }

    &-profileImage {
      object-fit: cover;
      height: 230px;

      @media screen and (max-width: 500px) {
        width: 100%;
      }
    }

    &-views {
      position: absolute;
      display: flex;
      justify-items: center;
      align-items: center;
      bottom: 0;
      right: 15px;

      p {
        font-size: 14px;
        color: white;
      }

      img {
        height: 25px;
        width: 25px;
        margin-right: 10px;
      }
    }

    &-info {
      padding: 20px 50px;
      position: relative;
      color: white;
      width: 100%;

      @media screen and (max-width: 900px) {
        padding: 15px;
      }

      &-socials {
        position: absolute;
        bottom: 15px;
        padding-right: 15px;
        img {
          cursor: pointer;
        }

        @media screen and (max-width: 900px) {
          position: relative;
          bottom: -10px;
        }
      }

      &-gamerTag {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 70px;
        @media screen and (max-width: 900px) {
          font-size: 50px;
        }
        @media screen and (max-width: 600px) {
          font-size: 40px;
          margin-bottom: 20px;
        }
        @media screen and (max-width: 450px) {
          font-size: 25px;
          margin-bottom: 20px;
        }
      }

      &-tagline {
        font-style: italic;
        font-weight: 500;
        margin-top: 5px;
      }

      &-experience {
        border-bottom: 3px solid #2b1d51;
        position: relative;
        margin: 20px;

        &-team {
          margin-bottom: 5px;
        }

        &-date {
          margin-top: 0;
          margin-bottom: 8px;
          color: lightgray;
        }

        &-role {
          margin-top: 10px;
          margin-bottom: 3px;
        }

        &-description {
          font-weight: 500;
        }
      }

      &-button {
        position: absolute;
        right: 25px;
        background-color: lightgray;
        color: #120826;
        padding: 5px 15px;
        border: none;
        border-radius: 10px;
        transition-duration: 0.15s;
        cursor: pointer;
        &:focus {
          background-image: none;
          outline: 0;
          -webkit-box-shadow: none;
          box-shadow: none;
        }

        &-save {
          background-color: #00a92f;
          color: white;
        }

        &-main {
          top: 25px;

          @media screen and (max-width: 600px) {
            top: 10px;
          }
          @media screen and (max-width: 450px) {
            top: 10px;
          }
        }

        &:hover {
          background-color: white;
          color: #00a92f;
          font-weight: 500;
        }
      }
    }
  }
  &-container {
    display: flex;
    font-weight: 400;
    color: white;
    margin-top: 30px;
    flex-wrap: wrap;

    &-editAvatar {
      background-color: transparent;
      display: inline-block;
      border: 2px solid #00a92f;
      color: #00a92f;
      font-weight: bold;
      text-transform: uppercase;
      width: 270px;
      height: 60px;
      margin-left: 50px;
      transition-duration: 0.15s;
      cursor: pointer;
      border-radius: 5px;
      &:hover {
        background-color: white;
      }
      &:focus {
        background-image: none;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }

    &-card {
      border: 2px solid rgba(122, 122, 204, 0.2);
      margin-bottom: 40px;
      color: white;
      margin: 50px 50px 50px 50px;
      border-radius: 8px;

      @media screen and (max-width: 750px) {
        margin: 30px 0px 20px 0px;
      }

      &-header {
        position: relative;
        display: flex;
        text-transform: uppercase;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-bottom: 2px solid rgba(122, 122, 204, 0.2);
        background-color: #110726;
        border-radius: 8px 8px 0 0;
        padding: 8px 15px;
        min-height: 50px;

        &-addButton {
          cursor: pointer;
          margin-left: auto;
        }

        &-icon {
          margin-right: 15px;
        }
      }

      &-body {
        padding: 30px;
        position: relative;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 480px) {
          font-size: 14px;
        }

        &-lengthAlert {
          margin-top: 0;
          font-size: 12px;
          font-weight: 600;
        }

        &-line {
          padding: 10px 0;
        }

        &-summary {
          line-height: 35px;
        }

        &-text {
          font-weight: 400;
          margin: 5px 0 15px 0;
        }

        &-subtitle {
          font-weight: 700;
          margin: 0 0 0 0;
        }
      }
    }
  }
}
