.newsCard {
  background-color: white;
  height: 580px;
  width: 430px;
  margin: 20px 0;
  border-radius: 5px;
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: pointer;
  color: #fff;
  background-color: #110726;
  -webkit-box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.4);
  border: 2px solid rgba(122, 122, 204, 0.2);
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(51, 0, 102, 0.3)),
    color-stop(30%, #110726)
  );
  background: linear-gradient(to top, rgba(51, 0, 102, 0.3) 0%, #110726 30%);
  border-radius: 8px;
  margin: 7.5px 0;

  @media screen and (max-width: 480px) {
    width: 100%;
    margin: 0;
  }

  &:hover {
    border: 2px solid lightgray;
  }

  &-image {
    height: 250px;
    background: center no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 8px 8px 0 0;

    @media screen and (max-width: 480px) {
      width: 100%;
    }
  }

  &-content {
    padding: 20px;

    @media screen and (max-width: 480px) {
      padding: 10px;
    }

    &-title {
      font-size: 35px;

      @media screen and (max-width: 480px) {
        font-size: 25px;
      }
    }

    &-description {
      font-weight: 500;
      color: whitesmoke;

      @media screen and (max-width: 480px) {
        margin: 0;
      }
    }

    &-date {
      position: absolute;
      bottom: 0;
    }
  }
}
