.league {
  &-container {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    margin: 40px;
    justify-content: center;

    @media screen and (max-width: 580px) {
      padding: 5px;
      margin: 5px;
    }

    @media screen and (max-width: 680px) {
      font-size: 13px;
    }

    & > * {
      margin: 10px;
    }
  }
  &-overview {
    display: flex;
    background-color: #11072d;
    width: 90%;
    padding: 30px;
    flex-wrap: nowrap;
    border: 1px solid #2c1e52;

    & > * {
      width: 50%;
      padding: 15px;
      &:first-child {
        border-right: 2px dotted white;
      }
    }

    @media screen and (max-width: 680px) {
      width: 95%;
    }
  }

  &-twitchStream {
    width: 95%;
    padding: 15px;
  }

  &-leaderboard {
    background-color: #11072d;
    width: 90%;
    padding: 30px;
    border: 1px solid #2c1e52;

    &-labels {
      display: flex;
      padding: 10px;
      background-color: #11072d;
      & > * {
        width: 20%;
        min-width: 40px;
        padding: 10px;
      }
      h5:first-child {
        width: 50px;
        min-width: 50px;
      }
    }

    &-row {
      padding: 10px;
      display: flex;
      border: 1px solid gray;
      & > * {
        width: 20%;
        min-width: 60px;
        padding: 10px;
      }
      &:nth-child(even) {
        background: #16162e;
      }
      &:nth-child(odd) {
        background: rgb(55, 46, 80);
      }
      h3:first-child {
        width: 50px;
        min-width: 50px;
      }
      &:hover {
        border: 1px solid lightgray;
      }
    }
  }

  &-rules {
    display: flex;
    background-color: #11072d;
    width: 90%;
    padding: 30px;
    border: 1px solid #2c1e52;
  }
}
