.article {
  &-header {
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    background: repeating-linear-gradient(
        to right,
        transparent,
        transparent 5px,
        rgba(39, 18, 63, 0.8) 6px,
        rgba(39, 18, 63, 0.8) 6px
      ),
      radial-gradient(
        ellipse farthest-side at top center,
        #271245,
        #1e0e37,
        transparent 90%
      ),
      linear-gradient(to top, #271245, #11072d, #0c031d 25%);
  }

  &-container {
    padding: 50px 150px;

    @media screen and (max-width: 680px) {
      font-weight: 500;
      padding: 20px 40px;
      font-size: 14px;
    }

    &-text {
      font-weight: 300;
      white-space: pre-line;
      line-height: 45px;
      font-family: sans-serif;
      font-size: 26px;
      letter-spacing: 0px;
      color: white;

      &::first-letter {
        color: #3f178a;
        float: left;
        font-weight: 600;
        font-size: 5em;
        margin: 10px 0.1em 1px 0;
      }
    }
  }
}
