.home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0a031a;

  &-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: lightgray;
    width: 100%;

    border: 2px solid rgba(122, 122, 204, 0.2);
    border-radius: 8px;
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(2.6%, #180733),
      color-stop(28%, #110826)
    );
    background: linear-gradient(0deg, #180733 2.6%, #110826 28%);

    &-secondary {
      font-size: 42px;
      margin-top: 15px;

      @media screen and (max-width: 900px) {
        font-size: 38px;
        text-align: center;
      }

      @media screen and (max-width: 480px) {
        font-size: 24px;
        text-align: center;
      }
    }
  }

  &-signupNow {
    background-color: #23104d;
    margin: 30px;
    padding: 20px 0 30px 0;
    border: 1px solid #4968ce;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-text {
      width: 300px;
      text-align: center;
      @media screen and (max-width: 580px) {
        font-size: 18px;
      }
    }
  }

  &-search {
    width: 50%;
  }
}
