.home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0a031a;

  &-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: lightgray;
    width: 100%;

    border: 2px solid rgba(122, 122, 204, 0.2);
    border-radius: 8px;
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(2.6%, #180733),
      color-stop(28%, #110826)
    );
    background: linear-gradient(0deg, #180733 2.6%, #110826 28%);

    &-secondary {
      font-size: 42px;
    }
  }

  &-sellingPoints {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    &-section {
      width: 370px;
      background-color: #23104d;
      margin: 30px;
      border: 1px solid #4968ce;
      padding: 50px;
      border-radius: 5px;
      &-image {
        width: 370px;
      }
      &-description {
        color: white;
        font-weight: 400;
        text-align: center;
      }
      &-title {
        color: white;
        text-align: center;
      }
    }
  }

  &-search {
    width: 50%;
  }

  &-featuredPlayers {
    width: 85%;
  }

  &-featuredTournaments {
    width: 85%;
  }
}
