.signup {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  justify-content: center;
  text-align: center;
  align-items: center;
  overflow: hidden;
  background: #0a031a;

  &-container {
    display: flex;
    border: 3px solid #211243;
    border-top-width: 20px;
    border-image: linear-gradient(
      to right,
      #1c2c60 0%,
      rgba(64, 38, 112, 0.75) 50%,
      #1c2c60 100%
    );
    border-image-slice: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 700px;

    @media screen and (max-width: 680px) {
      width: 350px;
      height: 600px;
    }
  }

  &-heading {
    color: white;
    margin-top: 10px;
    margin-bottom: 40px;
  }

  &-input {
    outline: 0;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;

    border-radius: 3px;
    padding: 10px 15px;
    margin: 15px auto 10px auto;
    text-align: center;
    font-size: 18px;
    color: white;
    transition-duration: 0.25s;
    font-weight: 300;

    &:hover {
      background-color: fade(white, 40%);
    }

    &:focus {
      background-color: white;
      width: 300px;
      color: #53e3a6;
    }
  }

  &-submit {
    outline: 0;
    background-color: #00a92f;
    border: 0;
    padding: 10px 15px;
    border-radius: 3px;
    width: 280px;
    margin-top: 25px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;

    &:hover {
      background-color: white;
      color: #00a92f;
    }
  }

  &-textLinks {
    display: flex;
    justify-content: center;

    .link {
      padding: 0px 10px;
      color: white;
      font-size: 14px;
      font-weight: 400;

      &:hover {
        color: #53e3a6;
        transition-duration: 0.2s;
      }
    }
  }
}
