@import "../../styles/variables";

html,
body,
.app,
.app-container {
  min-height: 100%;
  background-color: #0a031a;
}

.divider {
  color: #6e6e6e;
  font-weight: 300;
  margin-left: 5px;
  margin-right: 5px;
}

.social-icon {
  height: 40px;
  width: 40px;
  margin: 5px;
  margin-right: 15px;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 72px;
  margin: 10px;
  -webkit-text-fill-color: lightgray;
  -webkit-text-stroke-color: lightgray;
  -webkit-text-stroke-width: 1px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;

  background: linear-gradient(
    to right,
    #1b0342 20%,
    #2a0a75 40%,
    #381292 60%,
    #1b0342 80%
  );
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 6s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }

  @media screen and (max-width: 480px) {
    font-size: 44px;
    text-align: center;
  }
}
