@import "../../styles/variables";

html,
body,
.app,
.app-container {
  min-height: 100%;
  background-color: #0a031a;
  color: white;
}

.divider {
  color: #6e6e6e;
  font-weight: 300;
  margin-left: 5px;
  margin-right: 5px;
}

.social-icon {
  height: 40px;
  width: 40px;
  margin: 5px;
  margin-right: 15px;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  align-items: center;
  text-align: center;
}
